@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .dark {
    --background: #09090B;
    --foreground: #F4F4F5;

    --card: #18181B;
    --card-foreground: #F4F4F5;

    --popover: #18181B;
    --popover-foreground: #F4F4F5;

    --primary: #FFFFFF;
    --primary-foreground: #09090B;

    --secondary: #18181B;
    --secondary-foreground: #F4F4F5;

    --muted: #18181B;
    --muted-foreground: #A1A1AA;

    --accent: #18181B;
    --accent-foreground: #F4F4F5;

    --destructive: #ef4444;

    --border: #27272A;
    --input: #27272A;

    --ring: #FFFFFF;

    --sidebar: #18181B;
    --sidebar-foreground: #F4F4F5;

    --sidebar-primary: #FFFFFF;
    --sidebar-primary-foreground: #09090B;

    --sidebar-accent: #27272A;
    --sidebar-accent-foreground: #F4F4F5;

    --sidebar-border: #27272A;
  }
  .theme {
    --font-sans: 'Geist Variable', sans-serif;
  }
  * {
    @apply border-border;
    outline-color: oklch(var(--ring) / 0.5);
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}